@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    width: 100%;
    height: 100%;
    position: abosolute;
    background: #816969;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Inter';
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.ui {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.mybar{
    background: greenyellow;
    width: 600px;
    height : 70px;
    
    
}

.enemybar {
    background-color: red;
    margin-right: 20px;
    width: 600px;
    height : 70px;
}
