@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('http://fonts.cdnfonts.com/css/spiky-016');

body {
    width: 100%;
    height: 100%;
    position: abosolute;
    background: #816969;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Spiky-016'
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.ui {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.health{
    width: 600px;
    background-color: grey;
    margin : 0 10px;
    margin-top: 20px;
    border-radius: 30px;
    height: 50px;
    border: 2px solid cyan;
    color: black;
    
}

.mybar {
    background-color: lime;
    border-radius: 30px;
    height: 50px;
    padding-left: 10px;
    
}

.enemybar {
    background-color: red;
    border-radius: 30px;
    height: 50px;
    padding-left: 10px;
}



.timer {
    color: cyan;
    font-size: 50px;
    margin-top: -5px;
    margin-top :15px

}

.povcamera{
    left: 40px;
    top: 120px;
    position: absolute;
    border-radius: 50px;
    border: 3px solid cyan;
    padding: 10px;
}

.ficon{
    border-radius: 200px;
    width:100px;
    margin:0px 10px;
    border: 3px solid cyan;
}

.button {
    margin: 0 auto 20px;
    width: 200px;
    border-radius: 3px;
    text-align: center;
    clear: both;
    padding: 10px;
    background-color: #816969;
    cursor: pointer;
  }


  .screen {
    opacity: 0;
    visibility: hidden;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .screen-intro {
    opacity: 1;
    visibility: visible;
  }
  













